{
    "pkcs11Config": {
        "name": "SoftHSM",
        "library": "/usr/lib/softhsm/libsofthsm2.so",
        "slot": "oxSLOT",
        "showInfo": "true"
    },
    "pkcs11Pin": "oxPIN",
    "dnName": "CN=oxAuth CA Certificate"
}
